<div class="container my-5">
  <div class="booking-container card bg-dark text-white p-4" *ngIf="booking; else loading">
    <div class="booking-card">
      <h2 class="text-center text-primary mb-4">Booking Details</h2>
      <div class="booking-info mb-4">
        <p><strong>User Name: </strong> <span class="text-light">{{ booking.user_name }}</span></p>
        <p><strong>Status: </strong>
          <span class="status-badge" [ngClass]="{
            'status-in-progress': booking.status === 'progress',
            'status-completed': booking.status === 'completed',
            'status-cancelled': booking.status === 'cancel'
          }">{{ booking.status }}</span>
        </p>
        <p><strong>Duration: </strong> <span class="text-light">{{ booking.duration }}</span> days</p>
        <p><strong>Total Price: </strong> <span class="text-light">{{ booking.total_price | currency: 'EGP ' }}</span></p>
      </div>

      <h3 class="text-primary mb-3">Room Details</h3>
      <ul class="room-details list-group">
        <li class="room-detail list-group-item bg-secondary text-white mb-2"
          *ngFor="let detail of booking.book_details">
          <div class="room-info">
            <p><strong>Room Type: </strong> <span class="text-light">{{ detail.room_name }}</span></p>
            <p><strong>Date: </strong> <span class="text-light">{{ detail.date }}</span></p>
            <p><strong>Price: </strong> <span class="text-light">{{ detail.price | currency: 'EGP ' }}</span>
              </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-container text-center mt-5">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading booking details...</span>
      </div>
    </div>
  </ng-template>
</div>
