<div class="container my-5">
  <div class="booking-container card p-4" *ngIf="booking; else loading">
    <div class="booking-card">
      <h2 class="text-center mb-4 text-primary">Booking Details</h2>
      <div class="booking-info mb-4">
        <p><strong>User Name: </strong> <span>{{ booking.user_name }}</span></p>
        <p><strong>Status: </strong>
          <span class="status-badge" [ngClass]="{
            'status-in-progress': booking.status === 'progress',
            'status-completed': booking.status === 'completed',
            'status-cancelled': booking.status === 'cancel'
          }">{{ booking.status }}</span>
        </p>
        <p><strong>Duration: </strong> <span>{{ booking.duration }}</span> days</p>
        <p><strong>Total Price: </strong> <span>{{ booking.total_price | currency: 'EGP ' }}</span></p>
      </div>

      <h3 class="text-center mb-3 text-primary">Room Details</h3>
      <div class="accordion" id="roomDetailsAccordion">
        <div *ngFor="let detail of booking.book_details; let i = index" class="card">
          <div class="card-header" id="heading{{i}}">
            <h5 class="mb-0">
              <button class="btn btn-link text-primary" type="button" (click)="toggleAccordion(i)">
                Room  Details  <i class="bi bi-caret-down-square-fill"></i>
              </button>
            </h5>
          </div>

          <div [ngClass]="{'collapse': !isAccordionOpen(i), 'show': isAccordionOpen(i)}" [attr.id]="'collapse' + i"
            [attr.aria-labelledby]="'heading' + i" data-parent="#roomDetailsAccordion">
            <div class="card-body">
              <p><strong>Room Type: </strong> <span>{{ detail.room_name }}</span></p>
              <p><strong>Date: </strong> <span>{{ detail.date }}</span></p>
              <p><strong>Price: </strong> <span>{{ detail.price | currency: 'EGP ' }}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-container text-center mt-5">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading booking details...</span>
      </div>
    </div>
  </ng-template>
</div>
