.booking-container {
  box-shadow: 2px 2px 2px #3333;
  border-radius: 10px;
  padding: 20px;
}

.booking-card h2,
.booking-card h3 {
  box-shadow: 2px 2px 2px #3333;
  border-radius: 8px;
  padding: 10px;
  background-color: #343a40;
  /* Bootstrap's dark color */
  color: #ffffff;
}

.booking-info p,
.room-info p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.room-details {
  padding: 0;
  list-style-type: none;
}

.room-detail {
  box-shadow: 2px 2px 2px #3333;
  border-radius: 8px;
  padding: 10px;
  background-color: #495057;
  /* Slightly lighter dark color */
  color: #ffffff;
  margin-top: 15px;
}




.loading-container {
  padding: 20px;
  font-size: 18px;
}

.container {
  margin-top: 20px;
}

/* File: component-name.component.css or component-name.component.scss */

.status-badge {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.5em;
  text-align: center;
  transition: background-color 0.3s ease;
  /* Smooth transition effect */
}

/* Default badge colors */
.status-in-progress {
  background-color: #007bff;
  /* Primary color */
}

.status-completed {
  background-color: #28a745;
  /* Success color */
}

.status-cancelled {
  background-color: #d21d2f;
  /* Danger color */
}

/* Hover effect */
.status-in-progress:hover {
  background-color: #0056b3;
  /* Darker primary color */
}

.status-completed:hover {
  background-color: #218838;
  /* Darker success color */
}

.status-cancelled:hover {
  background-color: #8b303a;
  /* Darker danger color */
}
