 .container {
   margin-top: 20px;
 }

 h2.text-center {
   margin-top: 20px;
   box-shadow: 2px 2px 2px #3333;
   border-radius: 8px;
   padding: 10px;
   background-color: #343a40;
   /* Bootstrap's dark color */
   color: #ffffff;
 }

 .table {
   box-shadow: 2px 2px 2px #3333;
   border-radius: 10px;
 }

 table.table-dark thead {
   font-size: 16px;
   color: white;
 }

 table.table-dark tbody tr {
   text-align: center;
   font-size: 14px;
   color: white;
 }

 .form-select {
   width: 100%;
   max-width: 200px;
   margin: 0 auto;
 }

 .nested-table thead th {
   background-color: #007bff;
   /* Bootstrap's primary color */
   color: #ffffff;
 }

 .nested-table tbody tr {
   background-color: #343a40;
   /* Bootstrap's dark color */
   color: #ffffff;
 }

 .btn-primary {
   margin-top: 5px;
   box-shadow: 2px 2px 2px #3333;
 }

 .loading-container {
   padding: 20px;
   font-size: 18px;
 }

 .alert {
   box-shadow: 2px 2px 2px #3333;
   border-radius: 8px;
   padding: 10px;
 }
