<div class="container">
  <!-- Loading Indicator -->
  <div *ngIf="isLoading" class="loading-container text-center mt-3">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading bookings...</span>
    </div>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    No bookings found.
  </div>

  <!-- Booking List -->
  <div *ngIf="!isLoading && !errorMessage && booking.length > 0" class="booking-list mt-4">
    <h2 class="text-center text-primary">Bookings List</h2>
    <div class="table-responsive">
      <table class="table table-light table-hover table-bordered mt-3">
        <thead class="bg-dark">
          <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Book Details</th>
            <th>Total Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of booking">
            <td data-label="ID">{{ book.id }}</td>
            <td data-label="User Name">{{ book.user_name }}</td>
            <td data-label="Check In">{{book.check_in}}</td>
            <td data-label="Check Out">{{book.check_out}}</td>
            <td data-label="Duration">{{ book.duration }} Days</td>
            <td data-label="Status">
              <select class="form-select" [(ngModel)]="book.status" (change)="onStatusChange(book.status, book.id)">
                <option value="progress">In Progress</option>
                <option value="cancel">Cancelled</option>
                <option value="completed">Completed</option>
              </select>
            </td>
            <td data-label="Book Details">
              <div class="nested-table-container">
                <table class="nested-table table table-bordered table-light">
                  <thead class="bg-primary text-white">
                    <tr>
                      <th>Number Of Days</th>
                      <th>Room Type</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detail of getUniqueRoomTypes(book.book_details)">
                      <td>{{book.duration}}</td>
                      <td data-label="Room Type">{{ detail.room_name }}</td>

                      <td data-label="Price">{{ detail.price | currency: 'EGP ' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
            <td data-label="Total Price">{{ book.total_price | currency:'EGP ':'symbol' }}</td>
            <td data-label="Actions">
              <button [routerLink]="['/owner/booking', book.id]" class="btn btn-primary">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- No Bookings Found -->
  <div *ngIf="!isLoading && !errorMessage && booking.length === 0" class="alert alert-warning mt-3 text-center">
    No bookings found.
  </div>
</div>

