<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="top-bar">
        <div>
            <a href="#">My Account</a>
        </div>
        <div>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>
    <div class="navbar">
        <div class="logo">
            <img src="../../assets/llogo.jpg" width="70" alt="HotelHunt Logo">
            <span>HotelHunt</span>
        </div>
        <div class="menu">
            <a href="#">HOME</a>
            <a href="#">Hotels</a>
            <a href="#">Booking</a>
            <a href="#">Categories</a>
        </div>
    </div>
</body>
</html>
