/* Style for hotel-owner container */
.hotel-owner-container {
  padding: 20px;
}

.loading-container {
  height: 100vh;
}

.hotel-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #007bff;
}

.star-rating .star {
  font-size: 1.2rem;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.image-item img {
  max-width: 100%;
  width: 20rem;
  height: 20rem;
}

.image-item .btn {
  font-size: 0.8rem;
}

/* Style for testimonial-section */
.testimonial-section {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
}

/* Style for Testimonials title */
.testimonial-section h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Style for carousel items */
.carousel-item {
  padding: 20px;
  text-align: center;
}

/* Style for testimonial items */
.testimonial-item {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-author {
  font-weight: bold;
  color: #ff9900;
}

/* Style for carousel controls */
.carousel-control-prev, .carousel-control-next {
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: white;
}

.carousel-control-prev {
  left: -40px;
}

.carousel-control-next {
  right: -40px;
}
