<div class="container">

  <div *ngIf="isLoading" class="loading-container d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div *ngFor="let hotel of hotels" class="hotel-card card mb-4 shadow-sm">
      <div class="card-header">
        <h3 class="card-title text-center mb-0 text-primary">{{ hotel.name }}</h3>

      </div>

      <div class="text-center">
        <img [src]="'http://127.0.0.1:8000/storage/' + hotel.image" alt="Hotel Image" class="img-fluid rounded shadow-sm w-50 h-50" />
      </div>

      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="hotel-info">
              <div class="d-flex justify-content-between">
                <div>
                  <p><strong class="text-info">City:</strong> {{ hotel.city }}</p>
                  <p class="padding"><strong class="text-info">Address:</strong> {{ hotel.address }}</p>
                  <p><strong class="text-info">Status:</strong> {{ hotel.status }}</p>
                  <p class="padding"><strong class="text-info">Star Rating:</strong>
                    <span class="star-rating text-info">
                      <ng-container *ngFor="let _ of starRange(getStarRatingStars(hotel.star_rating).fullStars)">
                        <i class="fa fa-star text-primary"></i>
                      </ng-container>
                      <ng-container *ngIf="getStarRatingStars(hotel.star_rating).halfStars === 1">
                        <i class="fa fa-star-half text-warning"></i>
                      </ng-container>
                    </span>
                  </p>
                </div>
                <div>
                  <p><strong class="text-info">Balance:</strong> {{ hotel.balance | currency:'EGP ' }}</p>
                  <p><strong class="text-info ml-4">Description:</strong> {{ hotel.description }}</p>
                  <div *ngIf="hotel.average_rate">
                    <p><strong class="text-info">User Rating:</strong>
                      <span class="star-rating">
                        <ng-container *ngFor="let _ of starRange(getStarRatingStars(hotel.average_rate).fullStars)">
                          <i class="fa fa-star text-primary"></i>
                        </ng-container>
                        <ng-container *ngIf="getStarRatingStars(hotel.average_rate).halfStars === 1">
                          <i class="fa fa-star-half text-warning"></i>
                        </ng-container>
                      </span>
                    </p>
                  </div>
              </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn mx-1" [routerLink]="['/owner/hotel', hotel.id]">Update</button>
            <button class="btn btn-success btn mx-1" [routerLink]="['/owner/hotel', hotel.id, 'addImage']">Add
              Image</button>
          </div>
        </div>
      </div>




      <!-- Hotel Images -->
      <div *ngIf="ownerImages[hotel.id] && ownerImages[hotel.id].length > 0" class="hotel-images px-3 pb-3">
        <h4 class="text-primary">Images:</h4>
        <div class="image-grid row">
          <div
            *ngFor="let image of (ownerImages[hotel.id] | paginate: { itemsPerPage: 4, currentPage: imagePage[hotel.id] })"
            class="image-item col-md-3 mb-3">
            <div class="position-relative mx-1">
              <img [src]="'http://127.0.0.1:8000/storage/' + image.image" alt="Hotel Image"
                class="img-fluid rounded shadow-sm" />
              <button class="btn btn-danger btn-sm x-delete"
                (click)="onDeleteImage(image.id)"><i class="bi bi-x-square"></i></button>
            </div>
          </div>
        </div>
        <pagination-controls class="text-center" (pageChange)="onPageChange(hotel.id, $event)"></pagination-controls>
      </div>

      <!-- Hotel Comments -->
      <div *ngIf="hotelComments[hotel.id] && hotelComments[hotel.id].length>0 " class="hotel-comments px-3 pb-3">
        <h4 class="text-primary mb-4">Comments:</h4>

        <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let comment of hotelComments[hotel.id]; let i = index" class="carousel-item"
              [ngClass]="{'active': i === 0}">
              <div class="testimonial-item text-center">
                <div class="testimonial-content">
                  <p class="testimonial-text">{{ comment.content }}</p>
                  <p class="testimonial-author"><strong>{{ comment.user_name }}</strong> - {{ comment.created_at | date
                    }}</p>
                </div>
              </div>
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
  <div>

</div>
