<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onRegisterHotel()"
        *ngIf="!noOwnersAvailable; else noOwnersTemplate"
      >
        <div class="form-header text-center text-white">
          <h2 class="text-primary mt-4">Add Hotel</h2>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="owner_id">Owner</label>
              <select
                id="owner_id"
                class="form-control"
                formControlName="owner_id"
              >
                <option *ngFor="let owner of owners" [value]="owner.id">
                  {{ owner.fname }} {{ owner.lname }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="address" class="text-dark">Address</label>
              <input
                type="text"
                formControlName="address"
                class="form-control"
                placeholder="Address"
              />
              <div *ngIf="shouldShowError('address')" class="text-danger">
                <div *ngIf="registerForm.get('address')?.errors?.['required']">
                  Address is required.
                </div>
                <div *ngIf="registerForm.get('address')?.errors?.['minlength']">
                  Address must be at least 8 characters.
                </div>
                <div *ngIf="registerForm.get('address')?.errors?.['maxlength']">
                  Address can't exceed 255 characters.
                </div>
                <div *ngIf="registerForm.get('address')?.errors?.['pattern']">
                  Address must contain characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="country" class="text-dark">Country</label>
              <select
                formControlName="country"
                class="form-control"
                (change)="onCountryChange($event)"
              >
                <option
                  *ngFor="let country of countries"
                  [value]="country.name.common"
                >
                  {{ country.name.common }}
                </option>
              </select>
              <div *ngIf="shouldShowError('country')" class="text-danger">
                <div *ngIf="registerForm.get('country')?.errors?.['required']">
                  Country is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="city" class="text-dark">City</label>
              <select
                formControlName="city"
                class="form-control"
                (change)="onCityChange($event)"
              >
                <option *ngFor="let city of cities" [value]="city">
                  {{ city }}
                </option>
                <option value="Other">Other</option>
              </select>
              <div *ngIf="shouldShowError('city')" class="text-danger">
                <div *ngIf="registerForm.get('city')?.errors?.['required']">
                  City is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="name" class="text-dark">Hotel Name</label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Hotel Name"
              />
              <div *ngIf="shouldShowError('name')" class="text-danger">
                <div *ngIf="registerForm.get('name')?.errors?.['required']">
                  Hotel Name is required.
                </div>
                <div *ngIf="registerForm.get('name')?.errors?.['minlength']">
                  Hotel Name must be at least 3 characters.
                </div>
                <div *ngIf="registerForm.get('name')?.errors?.['maxlength']">
                  Hotel Name cannot exceed 100 characters.
                </div>
                <div *ngIf="registerForm.get('name')?.errors?.['pattern']">
                  Hotel Name should have at least one alphabetical character.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="text-dark">Description</label>
              <textarea
                formControlName="description"
                class="form-control"
                rows="4"
                style="height: 50px"
                placeholder="Description"
              ></textarea>
              <div *ngIf="shouldShowError('description')" class="text-danger">
              <div *ngIf="registerForm.get('description')?.errors?.['minlength']">
                Description must be at least 8 characters.
              </div>
              <div *ngIf="registerForm.get('description')?.errors?.['maxlength']">
                Description cannot exceed 255 characters.
              </div>
              <div *ngIf="registerForm.get('description')?.errors?.['pattern']">
                Description must contain characters.
              </div>
              </div>
            </div>
            <div class="form-group">
              <label for="starRating" class="text-dark">Star Rating</label>
              <select formControlName="star_rating" class="form-control">
                <option *ngFor="let rating of [1, 2, 3, 4, 5]" [value]="rating">
                  {{ rating }}
                </option>
              </select>
              <div *ngIf="shouldShowError('star_rating')" class="text-danger">
                <div
                  *ngIf="registerForm.get('star_rating')?.errors?.['required']"
                >
                  Star Rating is required.
                </div>
              </div>
            </div>
            <div *ngIf="showAddCityInput" class="form-group">
              <label for="newCity" class="text-dark">Add New City</label>
              <input
                type="text"
                [(ngModel)]="newCity"
                name="newCity"
                class="form-control"
                placeholder="New City"
                [ngModelOptions]="{ standalone: true }"
              />
              <button
                type="button"
                class="btn btn-primary mt-1"
                (click)="addNewCity()"
              >
                Add City
              </button>
            </div>
            <div class="form-group">
              <label for="image" class="text-dark">Image</label>
              <input
                type="file"
                (change)="onFileSelected($event)"
                class="form-control"
              />
              <div *ngIf="shouldShowError('image')" class="text-danger">
                <div *ngIf="registerForm.get('image')?.errors?.['required']">
                  Image is required.
                </div>
                <div *ngIf="registerForm.get('image')?.errors?.['invalidImageType']">
                  Only PNG, JPEG, and JPG files are allowed.
                </div>
                <div *ngIf="registerForm.get('image')?.errors?.['invalidImageSize']">
                  Image size must not exceed 2MB.
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block">
          Register Hotel
        </button>
          <a  class="btn btn-danger ms-2" routerLink="/admin-dashboard/hotels">
          Cancel
        </a>
      </div>
      </form>
      <div *ngIf="registrationError" class="alert alert-danger mt-3">
        {{ registrationError }}
      </div>
    </div>
  </div>
</div>
<ng-template #noOwnersTemplate>
  <div class="alert alert-info text-center" role="alert">
    No owners available without hotels. You cannot add a hotel at this moment.
  </div>
</ng-template>
