.unauthorized-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0F172B;
  color: #FEA116;
}

.unauthorized-content {
  text-align: center;
  padding: 20px;
  background-color: rgba(15, 23, 43, 0.8);
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  color: #FEA116;

  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #FEA116;

  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FEA116;
  color: #0F172B;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #F5841F;
}
