.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: url('path/to/your/background-image.jpg') no-repeat center center/cover; */
  /* backdrop-filter: blur(15px); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 80%;
  max-width: 600px;
  background: rgba(228, 219, 209, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.form-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form-header {
  /* background-color: #ff8c00; */
  color: #fff;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: -30px -30px 30px -30px;
  text-align: center;
}

.form-header h4{
  margin-top: 10px;
}
.form-group label {
  font-weight: bold;
  color: #333;
}

.form-group input, .form-group select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.form-group input:focus, .form-group select:focus , textarea:focus {
  border-color: #ff8c00;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.btn-primary {
  background-color: #ff8c00;
  border-color: #ff8c00;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: #e67e00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-block {
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-center a {
  cursor: pointer;
}
