<div *ngIf="loading" class="loading-spinner">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="background-blur">
  <div class="container">
    <div class="form-container">
      <div class="form-header text-center text-white">
        <h4 class="text-primary">Register Your Hotel</h4>
      </div>
      <div *ngIf="registrationError" class="alert alert-danger mt-3">
        {{ registrationError }}
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterHotel()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name" class="text-primary">Hotel Name</label>
              <input type="text" formControlName="name" class="form-control" placeholder="Hotel Name">
              <div *ngIf="shouldShowError('name')" class="text-danger">
                <div *ngIf="registerForm.get('name')?.errors?.['required']">Hotel Name is required.</div>
                <div *ngIf="registerForm.get('name')?.errors?.['minlength']">Hotel Name must be at least 3 characters long.</div>
                <div *ngIf="registerForm.get('name')?.errors?.['maxlength']">Hotel Name cannot exceed 100 characters.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="address" class="text-primary">Address</label>
              <input type="text" formControlName="address" class="form-control" placeholder="Address">
              <div *ngIf="shouldShowError('address')" class="text-danger">
                <div *ngIf="registerForm.get('address')?.errors?.['required']">Address is required.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="country" class="text-primary">Country</label>
              <select formControlName="country" class="form-control" (change)="onCountryChange($event)">
                <option *ngFor="let country of countries" [value]="country.name.common">{{ country.name.common }}</option>
              </select>
              <div *ngIf="shouldShowError('country')" class="text-danger">
                <div *ngIf="registerForm.get('country')?.errors?.['required']">Country is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="description" class="text-primary">Description</label>
              <textarea formControlName="description" class="form-control" rows="4" style="height: 50px;" placeholder="Description"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="city" class="text-primary">City</label>
              <select formControlName="city" class="form-control" (change)="onCityChange($event)">
                <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                <option value="Other">Other</option>
              </select>
              <div *ngIf="shouldShowError('city')" class="text-danger">
                <div *ngIf="registerForm.get('city')?.errors?.['required']">City is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="starRating" class="text-primary">Star Rating</label>
              <select formControlName="star_rating" class="form-control">
                <option *ngFor="let rating of [1, 2, 3, 4, 5]" [value]="rating">{{ rating }}</option>
              </select>
              <div *ngIf="shouldShowError('star_rating')" class="text-danger">
                <div *ngIf="registerForm.get('star_rating')?.errors?.['required']">Star Rating is required.</div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showAddCityInput" class="form-group">
          <label for="newCity" class="text-primary">Add New City</label>
          <input type="text" [(ngModel)]="newCity" name="newCity" class="form-control" placeholder="New City" [ngModelOptions]="{ standalone: true }">
          <button type="button" class="btn btn-primary mt-1" (click)="addNewCity()">Add City</button>
        </div>

        <div class="form-group">
          <input type="file" accept="image/*" (change)="onFileSelected($event)" class="form-control">
          <div *ngIf="registerForm.get('image')?.errors?.['invalidImageType']" class="text-danger">
            Invalid file type. Only PNG, JPEG, and JPG files are allowed.
          </div>
          <div *ngIf="registerForm.get('image')?.errors?.['invalidImageSize']" class="text-danger">
            File size exceeds 2MB.
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register Hotel</button>
      </form>
    </div>
  </div>
</div>
