.accordion {
  padding-left: 10px;
}

.accordion-item {
  padding: 2px 0;
}

.users-link,
.nav-link {
  cursor: pointer;
  color: white;
}

.users-link,
.nav-link:hover {
  color: #FEA116;
}


.nav-link.menu{
  color: #0F172B;
}

.nav-link.menu:hover {
  color: #FEA116;
}
