<nav class="nav flex-column bg-dark">
  <a class="nav-link active" routerLink="/admin-dashboard"><i class="fa-solid fa-gear"></i><strong>  Dashboard</strong></a>
  <a class="nav-link" routerLink="/home">Site</a>
  <div class="nav-item">
    <a class="nav-link" (click)="toggleUsersAccordion()">
      Users <i class="fas fa-caret-down"></i>
    </a>
    <div *ngIf="isUsersAccordionOpen" class="accordion">
      <!-- <div class="accordion-item">
        <a class="nav-link" routerLink="admin-dashboard/admins">Admins</a>
      </div> -->
      <div class="accordion-item">
        <a class="nav-link menu" routerLink="/admin-dashboard/owners"
          >Hotel Owners</a
        >
      </div>
      <div class="accordion-item">
        <a class="nav-link menu" routerLink="/admin-dashboard/users">users</a>
      </div>
    </div>
  </div>
  <a class="nav-link" routerLink="hotels">Hotels</a>

  <div class="nav-item">
    <a class="nav-link" (click)="togglePaymentAccordion()">
      Payments <i class="fas fa-caret-down"></i>
    </a>
    <div *ngIf="isPaymentAccordionOpen" class="accordion">
      <div class="accordion-item">
        <a class="nav-link menu" routerLink="/admin-dashboard/payments/add"
          >Add Payment</a
        >
      </div>
      <div class="accordion-item">
        <a class="nav-link menu" routerLink="/admin-dashboard/payments"
          >All payments</a
        >
      </div>
    </div>
  </div>

  <a class="nav-link" routerLink="bookings">Bookings</a>
  <a class="nav-link" routerLink="profile">Profile</a>
  <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="nav-item nav-link text-danger fw-bold">Logout</a>
</nav>
