/* .room-list {
  max-width: 800px;
  margin: 0 auto;
}

.search-bar {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-range {
  display: flex;
  align-items: center;
}

.separator {
  margin: 0 10px;
}

.search-button {
  margin-left: auto;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.btn-primary {
  background-color: #4CAF50;
  border: none;
}

.btn-primary:hover {
  background-color: #45a049;
} */

/* Styles for the comments section */
/* .comments-section {
  max-width: 800px;
  margin: 30px auto;
}

.comments-section h3 {
  color: #333;
}

.list-group-item {
  border: none;
}

.form-control {
  margin-bottom: 10px;
}
.star-rating {
  font-size: 24px;
}

.star {
  cursor: pointer;
  color: #ccc;
}

.star.filled {
  color: #ffc107;
}
.rating-section {
  max-width: 800px;
  margin: 30px auto;
} */
/* Styles for the form labels */
.styled-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

/* Styles for the form controls */
.styled-input,
.styled-date{
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
}

.styled-input:focus,
.styled-date:focus,
.styled-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.search-bar {
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Updated box shadow */

}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-range {
  display: flex;
  align-items: center;
}

.separator {
  margin: 0 10px;
}

.search-btn {
  margin-left: auto;
  margin-top: 28px;
}

/* Styles for the room list */
/* .room-list {
  max-width: 800px;
  margin: 0 auto;
} */

.table {
  width: 100%;
  margin-top: 20px;
}

/* Styles for the comments section */
.comments-section {
  max-width: 800px;
  margin: 30px auto;
}

.comments-section h3 {
  color: #333;
}

.list-group-item {
  border: none;
}

.form-control {
  margin-bottom: 10px;
}

/* Star rating styles */
.star-rating {
  font-size: 24px;
}

.star {
  cursor: pointer;
  color: #ccc;
}

.star.filled {
  color: #ffc107; /* Yellow color for filled stars */
}

.rating-section {
  max-width: 800px;
  margin: 30px auto;
}
