<div class="search-bar bg-primary-subtle">
  <form (ngSubmit)="onSearch()">
    <div class="search-bar-container">
      <div class="city">
        <input type="text" [(ngModel)]="city" name="city" placeholder="city" />
      </div>
      <div class="date-range">
        <label for="checkIn">Start Date:</label>
        <input type="date" [(ngModel)]="checkinDate" name="checkinDate" placeholder="Check-in Date" id="checkIn"
          class="form-control" />
        <span>—</span>
        <label for="checkOut">End Date:</label>
        <input type="date" [(ngModel)]="checkoutDate" name="checkoutDate" placeholder="Check-out Date" id="checkOut"
          class="form-control" />
      </div>
      <div class="sort-option">
        <label for="sort">Sort by:</label>
        <select [(ngModel)]="sort" name="sort" id="sort" class="form-control">
          <option value="none">None</option>
          <option value="price">Price</option>
        </select>
      </div>
      <div class="search-button">
        <button type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<!-- Display grouped hotels -->
<div class="results">
  <div *ngIf="result.length === 0" class="border-0">No results found.</div>
  <div class="row" *ngIf="result.length > 0">
    <div class="col-md-12" *ngFor="let hotelGroup of result">
      <div class="card mb-3 p-3 position-relative">
        <div class="d-flex">
          <img [src]="imagePath +hotelGroup.hotels[0].photo"
            alt="{{ hotelGroup.hotel_name }} image" class="img-fluid rounded"
            style="max-width: 40%; max-height: 80%; object-fit: cover; margin-right: 20px;">
          <div class="card-body mx-3">
            <h5 class="card-title">{{ hotelGroup.hotel_name }}</h5>
            <!-- <h6 >{{ hotelGroup.hotels[0].star_rating }}</h6> -->
            <div class="star-rating">
              <ng-container *ngIf="hotelGroup.hotels[0].star_rating > 1; else oneStar">
                <span *ngFor="let star of [].constructor(hotelGroup.hotels[0].star_rating); let i = index">
                  &#9733;
                </span>
              </ng-container>
              <ng-template #oneStar>
                <span>&#9733;</span>
              </ng-template>
            </div>
            <div *ngIf="hotelGroup.roomsAvailable >= 1">
              <p>{{ hotelGroup.roomsAvailable }} rooms available</p>
            </div>
            <div *ngFor="let room of hotelGroup.hotels">
              <p class="card-text">{{ room.name }} - {{ room.price }}</p>
            </div>
          </div>
        </div>
        <a class="btn btn-primary btn-sm position-absolute bottom-0 end-0 m-3"
          [routerLink]="['/hotel',hotelGroup.hotels[0].hotel_id]">See Availability</a>
      </div>
    </div>
  </div>
</div>
