<app-header></app-header>
<div *ngIf="isLoading" class="loading-spinner">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="!isLoading">
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container bg-primary-subtle w-75 mx-auto rounded-5">
    <div class="bg-white shadow p-4">
      <form (ngSubmit)="onSearch()">
        <div class="row g-2">
          <div class="col-md-12">
            <div class="row g-2">
              <div class="col-md-3">
                <label for="City" class="mx-2">City</label>
                <input type="text" class="form-control styled-input" placeholder="City" [(ngModel)]="city" name="city"
                  id="City" />
                <div *ngIf="cityError" class="text-danger">{{ cityError }}</div>
              </div>
              <div class="col-md-3">
                <div class="date" id="date1" data-target-input="nearest">
                  <label for="checkIn" class="mx-2">Check-in</label>
                  <input type="date" class="form-control datetimepicker-input styled-date" placeholder="Check-in Date"
                    [(ngModel)]="checkinDate" name="checkinDate" id="checkIn" data-target="#date1" [min]="today"
                    (change)="onCheckinDateChange($event)" />
                  <div *ngIf="checkinDateError" class="text-danger">{{ checkinDateError }}</div>
                  <div *ngIf="dateError" class="text-danger">{{ dateError }}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="date" id="date2" data-target-input="nearest">
                  <label for="checkOut" class="mx-2">Check-out</label>
                  <input type="date" class="form-control datetimepicker-input styled-date" placeholder="Check-out Date"
                    [(ngModel)]="checkoutDate" name="checkoutDate" id="checkOut" data-target="#date2" [min]="minCheckoutDate" />
                  <div *ngIf="checkoutDateError" class="text-danger">{{ checkoutDateError }}</div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="sort" class="mx-2">Sort By</label>
                <select class="form-select styled-select" [(ngModel)]="sort" name="sort" id="sort">
                  <option value="none">None</option>
                  <option value="price">Price</option>
                  <option value="name">Name</option>
                  <option value="star_rating">Star Rating</option>
                  <option value="rate">User Reviews</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-2 mx-auto">
            <button type="submit" class="btn btn-primary w-100 rounded-4 search-btn text-dark">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Display grouped hotels -->
<div class="results">
  <div *ngIf="result.length === 0" class="bg-danger-subtle text-center p-4 w-100 mx-auto rounded-5 fs-3">No results
    found.</div>
  <div class="row" *ngIf="result.length > 0">
    <h4 class="text-center">{{ city }}: {{result.length}} properties found</h4>
    <div *ngFor="let hotelGroup of result | paginate: { itemsPerPage: 3, currentPage: currentPage }">

      <div class="card mb-3 p-3 position-relative">
        <div class="d-flex">
          <img [src]="imagePath +hotelGroup.hotels[0].photo" alt="{{ hotelGroup.hotel_name }} image"
            class="img-fluid rounded hotel-img">
          <div class="card-body mx-3">
            <h5 class="card-title">{{ hotelGroup.hotel_name }}</h5>
            <div class="star-rating">
              <span class="text-dark"> Star Rating:</span>
              <ng-container *ngIf="hotelGroup.hotels[0].star_rating >=1; else noRatingStars">
                <span *ngFor="let star of [].constructor(hotelGroup.hotels[0].star_rating); let i = index"
                  class="star-icon filled fs-3">&#9733;</span>
                <span *ngFor="let star of [].constructor(5 - hotelGroup.hotels[0].star_rating); let i = index"
                  class="star-icon fs-3">&#9733;</span>
              </ng-container>
              <ng-template #noRatingStars>
                <!-- <span class="no-rating">No rating available </span> -->
                <span *ngFor="let star of [].constructor(5); let i = index" class="star-icon fs-3">&#9733;</span>

              </ng-template>
              <!-- <ng-template #oneStar>
                <span class="star-icon fs-3">&#9733;</span>
              </ng-template> -->
            </div>
            <div class="average-rating">
              <div class="star-rating" *ngIf="hotelGroup.hotels[0].average_rate">
                <span class="text-dark"> User Reviews:</span>
                <ng-container *ngIf="(hotelGroup.hotels[0].average_rate) >=1; else noRatingStars">
                  <span
                    *ngFor="let star of [].constructor(hotelGroup.hotels[0].average_rate); let i = index"
                    class="star-icon filled fs-3">&#9733;</span>
                  <span
                    *ngFor="let star of [].constructor(5 - hotelGroup.hotels[0].average_rate); let i = index"
                    class="star-icon fs-3">&#9733;</span>
                </ng-container>
                <ng-template #noRatingStars>
                  <!-- <span class="no-rating">No rating available</span> -->
                  <span *ngFor="let star of [].constructor(5); let i = index" class="star-icon fs-3">&#9733;</span>
                </ng-template>
              </div>
            </div>
            <!-- <div>average rating {{hotelGroup.hotels[0].average_rate}}</div> -->
            <div *ngIf="hotelGroup.roomsAvailable >= 1">
              <p class="text-danger">{{ hotelGroup.roomsAvailable }} rooms available:</p>
            </div>
            <div *ngFor="let room of hotelGroup.hotels">
              <p class="text-dark">{{ room.name }} - ${{ room.price }}</p>
            </div>

          </div>
          <!-- <a class="btn btn-primary btn-sm position-absolute bottom-0 end-0 m-1 text-dark"
            [routerLink]="['/hotel',hotelGroup.hotels[0].hotel_id]">See Availability</a> -->
          <a class="btn btn-primary btn-sm position-absolute bottom-0 end-0 m-1 text-dark"
            (click)="navigateToHotel(hotelGroup.hotels[0].hotel_id)">See Availability</a>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="currentPage = $event" class="text-center"></pagination-controls>
  </div>
</div>
