<app-header></app-header>
<div class="about-us-container">
    <div class="about-us-text">
      <h2>Welcome to <span class="highlight">HOTELS</span></h2>
      <p>
        Discover a world of luxury and comfort at Hotelier. Our exquisite accommodations, impeccable service, and stunning amenities await to elevate your travel experience.
        Indulge in the finest dining, unwind in our luxurious spa, or take a dip in our sparkling pool. Whatever your heart desires, Hotelier is here to make your stay unforgettable.
        Book your stay with us today and embark on a journey of luxury and hospitality like no other. Welcome to Hotelier, where every moment is crafted with care and every experience is simply extraordinary.
      </p>
      <button class="explore-button btn btn-primary">EXPLORE MORE</button>
    </div>
    <div class="">
      <div class="top d-flex flex-wrap px-5">
        <figure style="text-align: right; margin-top: auto;" class="">
          <img class="img1"  src="assets/about/about-1.jpg" alt="Poolside view">
        </figure>
        <figure>
          <img class="img2" src="assets/about/about-2.jpg" alt="Luxury accommodation">
        </figure>
      </div>
      <div class="bottom d-flex flex-wrap">
        <figure style="text-align: right">
          <img class="img3" src="assets/about/about-3.jpg" alt="Dining experience">
        </figure>
        <figure>
          <img class="img4" src="assets/about/about-4.jpg" alt="Dining experience">
        </figure>
      </div>
    </div>
  </div>

<app-footer></app-footer>
