<app-header></app-header>
<div class="about-us-container">
    <div class="about-us-text">
      <h2>Welcome to <span class="highlight">HOTELS</span></h2>
      <p>
        Discover a world of luxury and comfort at Hotelier. Our exquisite accommodations, impeccable service, and stunning amenities await to elevate your travel experience.
        Indulge in the finest dining, unwind in our luxurious spa, or take a dip in our sparkling pool. Whatever your heart desires, Hotelier is here to make your stay unforgettable.
        Book your stay with us today and embark on a journey of luxury and hospitality like no other. Welcome to Hotelier, where every moment is crafted with care and every experience is simply extraordinary.
      </p>
      <button class="explore-button">EXPLORE MORE</button>
    </div>
    <div class="about-us-images">
      <img class="img1"  src="assets/about/about-1.jpg" alt="Poolside view">
      <img class="img2" src="assets/about/about-2.jpg" alt="Luxury accommodation">
      <img class="img3" src="assets/about/about-3.jpg" alt="Dining experience">
      <img class="img4" src="assets/about/about-4.jpg" alt="Dining experience">
    </div>
  </div>
  
<app-footer></app-footer>