<div class="container mt-5">
  <h2>Room Availability</h2>

  <div class="form-group">
    <label for="monthSelect">Select Month:</label>
    <select id="monthSelect" class="form-control" (change)="onMonthSelect($event)">
      <option *ngFor="let month of months" [value]="month.value" [selected]="month.value === currentMonthValue">
        {{ month.label }}
      </option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-3" *ngFor="let day of calendarDays">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ day.date | date: 'MMMM dd, yyyy' }}</h5>
          <p class="card-text">
            <strong>Stock:</strong> {{ day.stock }}<br>
            <strong>Total Rooms:</strong> {{ day.total_rooms || 'Unavailable' }}<br>
          </p>
          <button type="button" class="btn" [ngClass]="{'btn-primary': !day.total_rooms, 'btn-success': day.total_rooms}" data-bs-toggle="modal" data-bs-target="#availabilityModal" (click)="onDaySelect(day)">
            {{ day.total_rooms ? 'Update' : 'Create' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="availabilityModal" tabindex="-1" aria-labelledby="availabilityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="availabilityModalLabel">{{ isUpdateMode ? 'Update' : 'Create' }} Availability</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="availabilityForm" (ngSubmit)="onFormSubmit()">
            <!-- <div *ngIf="isUpdateMode" class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input type="number" class="form-control" id="stock" formControlName="stock" required>
            </div> -->
            <div class="mb-3">
              <label for="totalRooms" class="form-label">Total Rooms</label>
              <input type="number" class="form-control" id="totalRooms" formControlName="total_rooms" required>
              <div *ngIf="availabilityForm.controls['total_rooms'].errors?.['minimumRooms']"  class="text-danger">
                Total rooms cannot be less than booked rooms.
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="availabilityForm.invalid">{{ isUpdateMode ? 'Update' : 'Create' }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
