<div class="container mt-3 text-center">
  <h1 class="text-primary mb-3 fs-2 fw-bold text-decoration-underline fst-italic">Add Payment</h1>
  <form [formGroup]="addPaymentForm" (ngSubmit)="onSubmit()" class="mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="hotel">Hotel</label>
          <select id="hotel" formControlName="hotel_id" class="form-control mb-2">
            <option value="" disabled>Select a hotel</option>
            <option *ngFor="let hotel of hotels" [value]="hotel.id">{{ hotel.name }}</option>
          </select>
          <div *ngIf="formSubmitted && addPaymentForm.controls['hotel_id'].invalid" class="text-danger">
            Hotel is required.
          </div>
        </div>

        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" formControlName="amount" class="form-control mb-2">
          <div *ngIf="formSubmitted && addPaymentForm.controls['amount'].invalid" class="text-danger">
            Valid amount is required.
          </div>
        </div>

        <button type="submit" class="btn btn-success mt-3">Add Payment</button>
      </div>
    </div>
  </form>
</div>
