<div *ngIf="filteredUsers && filteredUsers.length > 0; else noUsers">
  <h1 class="text-primary text-center mb-3 fs-2 fw-bold text-decoration-underline fst-italic">Site Users</h1>

  <table class="table table-striped table-bordered text-center">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers | paginate: { itemsPerPage: 8, currentPage: currentPage }">
        <td>{{ user.id }}</td>
        <td><img src="http://127.0.0.1:8000/storage/{{ user.photo }}" class="rounded-circle" style="height:30px;width:35px"></td>
        <td>{{ user.fname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="viewUser(user.id)">View</button>
          <button class="btn btn-danger btn-sm ms-1" (click)="confirmDelete(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="currentPage = $event" class="text-center"></pagination-controls>

</div>
<ng-template #noUsers>
  <p class="alert alert-info">No users found.</p>
</ng-template>
