<div class="container col-md-6 pt-5" *ngIf="object.id">
  <div class="card card-light text-dark">
    <div class="card-body">
      <div class="text-center mb-3">
        <img [src]="'http://127.0.0.1:8000/storage/' + object.photo" class="img-fluid img-thumbnail border-dark"
          alt="Room Photo">
      </div>
      <h6 class="text-uppercase">ID: {{ object.id }}</h6>
      <hr class="bg-dark">
      <h6 class="text-uppercase">Type: {{ object.name }}</h6>
      <hr class="bg-dark">
      <h6 class="text-uppercase">Price: {{ object.price | currency }}</h6>
      <hr class="bg-dark">
      <h6 class="text-uppercase">Description: {{ object.description }}</h6>
      <hr class="bg-dark">
      <h6 class="text-uppercase">Capacity: {{ object.capacity }}</h6>
    </div>
  </div>
</div>
<div class="container col-md-6 pt-5" *ngIf="object.id">
  <!-- Back button can be uncommented if needed -->
  <!-- <div class="d-grid pt-3">
    <button class="btn btn-primary" (click)="reset()">Back</button>
  </div> -->
</div>
