.btn-primary:hover {
  background-color: #0056b3;
}

.btn-info:hover {
  background-color: #17a2b8;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-success:hover {
  background-color: #218838;
}

.thead-dark th {
  background-color: #343a40;
  color: #f8f9fa
}

.icon-view {
  color: #FEA116;
}

.icon-edit {
  color: #0F172B;
}

.icon-delete {
  color: red;
}
