<div class="container mt-3">
  <h1 class="text-primary mb-5 fs-2 fw-bold text-center text-decoration-underline">Add Payment</h1>
  <div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
      <form [formGroup]="addPaymentForm" (ngSubmit)="onSubmit()" class="mt-3">
        <div class="form-group mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" id="amount" formControlName="amount" class="form-control" placeholder="Enter amount"
            min="0.01" step="0.01">
          <div *ngIf="formSubmitted && addPaymentForm.controls['amount'].invalid" class="text-danger mt-1">
            Valid amount is required.
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Add Payment</button>
      </form>
    </div>
  </div>
</div>
