<app-header></app-header>
<app-slider></app-slider>

<section class="sec1">
  <div class="container-fluid">
    <div style="display: grid; gap: 20px; grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); padding: 40px 50px;">
      <div *ngIf="isLoading" class="loading">Loading...</div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <div *ngFor="let hotel of hotels" class="card p-0 rounded border-0 shadow wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative row g-0">
          <div class="col-md-4 hotel-image-style">
            <img *ngIf="hotelImages[hotel.id] && hotelImages[hotel.id].length > 0" [src]="'http://127.0.0.1:8000/storage/' + hotelImages[hotel.id][0].image" alt="Hotel Image" class="img-fluid rounded-start" />
          </div>
          <div class="col-md-8 pe-lg-5">
            <div class="card-body">
              <h4 class="card-title text-primary mb-3">
                <a [routerLink]="['/hotel', hotel.id]" class="text-primary" style="font-size: 18px;">{{ hotel.name }}</a>
              </h4>
              <p>{{ hotel.country }} | {{ hotel.city }} | {{ hotel.address }}</p>
              <p class="card-text p-0 m-0"></p>
              <p class="card-text text-muted" style="height:55px;">
                {{ (hotel.description || '').length > 80 ? (hotel.description | slice:0:80) + '...' : hotel.description || 'No description available' }}
              </p>
              <a [routerLink]="['/hotel', hotel.id]" class="text-primary text-decoration-underline btn-hover">MORE DETAILS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="currentPage = $event"
      class="text-center"
    ></pagination-controls>
  </div>
</section>

<app-footer></app-footer>
